@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager

/* 
0 - 600px       :   [phone] Phone
600 - 900px     :   [tab-port] Tablet portait
900 - 1200px    :   [tab-land] Tablet Landscape
[1200 - 1800px] :   is where our narmal styles apply
1800px +        :   [big-desktop] Big Desktop
*/

// Oder: Base + Typography >> General Layout + Grid >> Page Layout >> Conponents

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

/*
 $breakpoint aguement choices:
*/
@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media (max-width: 37.5em) {
      @content;
    }
  } @else if $breakpoint==tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  } @else if $breakpoint==tab-land {
    @media (max-width: 75em) {
      @content;
    }
  } @else if $breakpoint==big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint #{$breakpoint}";
  }
}
